@font-face {
  font-family: "iconfont"; /* Project id 4689276 */
  src: url('//at.alicdn.com/t/c/font_4689276_pdxpvx5zcdc.woff2?t=1730457075015') format('woff2'),
       url('//at.alicdn.com/t/c/font_4689276_pdxpvx5zcdc.woff?t=1730457075015') format('woff'),
       url('//at.alicdn.com/t/c/font_4689276_pdxpvx5zcdc.ttf?t=1730457075015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\eb12";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-yonghu:before {
  content: "\e634";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-tupian:before {
  content: "\e8ba";
}